.container {
height: 100%;
  background-color: #F0F6FF;
 display: flex;
  text-align: center;
  margin:0;
 justify-content: center;
 font-family: 'Jost',sans-serif;
}
.App{ width:1320px;margin:auto}
.App a{
  text-decoration: none;
  display: block;
  padding:3px

}
a:hover {
  letter-spacing: 1px; 
 box-shadow: none; 
 margin-bottom: 10px;
}
.css-6dpx96-MuiInputBase-root-MuiFilledInput-root:before {border-bottom: none !important;}
.css-6dpx96-MuiInputBase-root-MuiFilledInput-root:after {border-bottom:none !important}